body {
  background: rgb(204,204,204); 
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.2cm rgba(0,0,0,0.2);
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}
h3.header{
  font-family: "Times New Roman", Times, serif;
  text-align:center;
   padding-top:40px;
   font-size:28px;
     text-transform: uppercase;
       font-weight: bold;
}
p.sub-header{
   font-family: "Times New Roman", Times, serif;
  text-align: center;
  text-decoration: underline;
  font-size:17px;
    text-transform: uppercase;
}
p.date{
   font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size:16px;
}
p.assets{
  margin-left:15px;
  /* font-family: "Times New Roman", Times, serif;*/
 /*    border-bottom:0.5px solid #000;
     width:60px;*/
  text-decoration:underline;
    text-decoration-style:double;
      font-weight: 650px;
      font-size:17px;
    /*  text-transform: uppercase;*/
   /* border-bottom: 1px solid #000;*/
}
p.sub-asset{
   margin-left:15px;
  text-decoration:underline;
      font-weight: 450px;
      font-size:15px;
}
page[size="A4"][layout="portrait"] {
  width: 29.7cm;
  height: 21cm;  
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="portrait"] {
  width: 42cm;
  height: 29.7cm;  
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="portrait"] {
  width: 21cm;
  height: 14.8cm;  
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}